venv
app/__pycache__
.idea
app/__pycache__
app/bot/__pycache__
app/funcoes/__pycache__
app/arquivos/extraidos/*.csv
app/arquivos/compactados/*.rar
app/arquivos/compactados/*.zip
app/arquivos/compactados/*.7z
